body {
    font-family: 'helvetica-nue', helvetica, arial, sans-serif;
    font-size: 13px;
    background: #E5E5E5;
}

.social-header {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    width: 1040px;
    max-width: 100%;
    padding: 20px;
}

.social-wrap {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover-photo {
    position: absolute;
    bottom: -40px;
    left: -40px;
    width: 1080px;
}

.profile-photo {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    z-index: 20;
    position: relative;
    margin-top: 70px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.profile-container {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1), 1px 0 2px rgba(0, 0, 0, 0.1), 1px 0px 0 rgba(255, 255, 255, 0.55);
    width: 0;
    opacity: 0;
    transition: all .35s;
}

.profile-container .title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 0%;
    overflow: hidden;
    z-index: 1;
}

.profile-container .duplicate-image {
    position: absolute;
    scale: 1;
    background-image: url("https://lh4.googleusercontent.com/-_W03CwaSzBc/UcojMbD8UPI/AAAAAAAABkk/__Xflmn_CLs/s1087-fcrop64=1,201d2ed3dfa7d12b/%25C2%25A9%2BBrian%2BMatiash_untitled-01%2Bcopy%2B2.jpg");
    opacity: 0.7;
    filter: blur(8px);
    background-size: 1087px 614px;
    bottom: -40px;
    left: -40px;
    width: 1087px;
    height: 614px;
}

.name {
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: rgba(black, 0.7) 1px 1px 5px;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    width: 100%;
    height: 50%;
    margin-top: 25px;
    transform: translateX(-5px);
    letter-spacing: .1em;
    display: block;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: all .3s .2s;
    white-space: nowrap;
    text-align: center;
}

.name .title {
    display: block;
    text-transform: none;
    font-style: italic;
    font-size: 80%;
    letter-spacing: 0px;
    margin-top: 10px;
    transform: translateX(-20px);
    opacity: 0;
    transition: all .9s .2s;
    white-space: nowrap;
    text-shadow: none;
}

.name .stats {
    letter-spacing: 0;
    font-size: 14px;
    text-transform: none;
    text-shadow: none;
    /*font-smoothing: antialiased;*/
    margin-top: 40px;
    display: block;
    white-space: nowrap;
    transform: translateX(15px);
    transition: all .9s .2s;
}

.loaded .name {
    color: black;
    scale: 1;
    transition: all .6s .68s;
    opacity: 1;
}

.loaded .profile-container {
    width: 40%;
    min-width: 300px;
    opacity: 1;
    transition: all .55s ease-out;
}

.loaded .title {
    opacity: 1;
    transform: translateX(0px);
    transition: all .9s .68s;
}

.loaded .stats {
    transform: translateX(0px);
    transition: all 1s .68s;
}

.loaded img {
    background-position: top top;
}

.profile-navigation {
    display: block;
    height: 44px;
    color: #737373;
    position: relative;
    text-align: center;
    background-color: white;
}

.profile-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-navigation li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    padding: 15px;
}

.toggle {
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    color: rgba(black, 0.25);
    position: absolute;
    border-radius: 50%;
    z-index: 40;
    text-decoration: none;
    font-size: 3.5em;
    /*vertical-align: center;*/
    line-height: .55em;
    left: -5%;
    z-index: 1041;
    bottom: 200px;
    transform: rotate(180deg);
    transition: all 300ms;
}

.loaded .toggle {
    transform: rotate(0deg);
}