/*Stilos personales*/
body {
    margin: 0;
}
h1 {
    font-family: 'Wendy One', sans-serif;
    font-size: 3em;
}
h2 {
    font-family: 'Marck Script', cursive;
    font-size: 2.063em;
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    text-align: left;
}
main {
    text-align: center;
    padding: 0;
    margin: 4em auto;
    width: 70%;
}
.texto-rojo { color: red; }
.imagen-a-la-mitad { width: 60%;}

/*Estilo de barra de navegacion*/
header {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
}
header a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 1rem 1rem;
        text-decoration: none;
        font-size: 1rem;
}
header a:hover {
        background-color: #ddd;
        color: black;
}
header a:active {
        background-color: #4CAF50;
        color: white;
}
nav {
        float: right;
}
header .icon {
        display: none;
}
