<!DOCTYPE html>
<html>
<head>
  <title>Mi página</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/base.js') }}"></script>
  <link href="https://fonts.googleapis.com/css?family=Marck+Script|Lemon|Roboto+Slab&display=swap" rel="stylesheet">
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
  <!--Version 5 para los iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <header>
    <a href="{{ url_for('index') }}" class="logo">Home</a>
    <nav class="topnav" id="nav">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
      <a href="{{ url_for('personal_profile') }}">Personal Profile</a>
    </nav>
  </header>

    {% block content %}{% endblock %}

  <footer>
    <a href="https://www.youtube.com/user/JCarloz2812" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://jcgutierrez11.wordpress.com/" target="_blank"><i class="fab fa-wordpress"></i></a>
    <a href="https://twitter.com/jcgutier28" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://gitlab.com/jcgutier" target="_blank"><i class="fab fa-gitlab"></i></a>
    <p id="postedby"><a href="mailto:jcgutierrezo28@gmail.com">Posted by: Juan Carlos Gutierrez</a></p>
  </footer>
</body>
</html>
