{% extends "base.html" %}

{% block content %}
    <!--div id="maintitle">
    <h1>Bienvenidos</h1>
    </div-->
    {% if current %}
    <div id="{{ current }}">
    {% else %}
    <div id="index">
    {% endif %}
	    <!--h1 id="maintitle">Página Principal</h1-->
    </div>
    <main>
    <h2>Bienvenido</h2>
    <hr>

    <p>Esta es la página principal de mi portal, aquí encontrarás mis proyectos y 
    aplicaciones experimentales, también guías para poder replicar de manera sencilla estos experimentos.</p>

    <p>En mi <a href="https://jcgutierrez11.wordpress.com/">blog de wordpress</a> encontrarás una reseña u opinion personal 
    de los últimos libros que he leído y los nuevos que lea, tengo una lista larga de libros por leer. También publicaré 
    mis experiencias de los lugares y sabores nuevos que tenga la oportunidad de conocer.</p>
    <hr>

    <p>Creo que toda historia que nos haya dejado huella, tiene que ser compartida. Hoy en día hay tantas historias ya no 
    solo en libros, sino también en películas, series, incluso en videojuegos y lugares. El punto de plasmar esas historias 
    en este medio es para compartir mi experiencia y que más personas puedan conocerlas, pero también sirve como 
    recordatorio para mi mismo de esas historias.</p>

    <p>Este espacio y el <a href="https://jcgutierrez11.wordpress.com/">blog de wordpress</a> son más que nada un reflejo de 
    como se ve el mundo desde mi perspectiva, así que bienvenidos a mi mundo.</p>
    </main>
{% endblock %}
