{% extends "base.html" %}

{% block content %}
    <div id="{{ current }}">
        <div class="Mifoto">
            <img src="https://dl.dropboxusercontent.com/s/55vycruxuqxus6m/jc.jpg" class="silver-border">
        </div>
        <h2>Juan Carlos Gutiérrez Ortiz</h2>
        <h3>Ingeniería en Comunicaciones y Electrónica</h3>
        <hr>
        <div class="socialmenu">
            <ul id="menu" class="listc">
                <li>
                     <button class="btn">
		     <a href="https://www.linkedin.com/in/carlos-gutierrez-547207b6" target="_blank"><i class="fab fa-linkedin-in" style="font-size:1rem;"></i>&nbsp&nbspLinkedIn</a>
		     </button>
                </li>
                <li>
                     <button class="btn">
		     <a href="https://t.me/jcgutier" target="_blank"><i class="fab fa-telegram-plane"></i>&nbsp&nbspTelegram</a>
		     </button>
                </li>
                <li>
                     <button class="btn">
		     <a href="https://codepen.io/juan-carlos-go/" target="_blank"><i class="fab fa-codepen" style="font-size:1rem;"></i>&nbsp&nbspCodepen</a></button>
                </li>
            </ul>
        </div>
        <div class="telegrammenu">
            <ul id="menu" class="listc">
                <li>
                     <button class="btn">
		     <a href="https://t.me/jcgutier" target="_blank"><i class="fab fa-telegram-plane"></i>&nbsp&nbspTelegram</a>
		     </button>
                </li>
            </ul>
	</div>
    </div>

    <main>
    <h2>Acerca de mí</h2>
    <hr>

    <p>Soy Ingeniero en Comunicaciones y Electrónica, especializado en comunicaciones, egresado del Instituto Politécnico 
    Nacional. Tengo experiencia como administrador de servidores, redes y cloud. Tambén cuento experiencia como DevOps 
    desarrollando herramientas de automatizacion para las operaciones.</p>

    <p>Mi principal lenguaje de programacion es Python, me gusta desarrollar con el framework de Flask, junto con HTML, 
    CSS y JavaScript. Cuento con conocimiento basico de lenguajes como Java, C++ y de las tenologías como: AWS, Jenkins, 
    Ansible, Git, entre otras herramientas de automatizacion y cloud.</p>
    <hr>

    <p>En mis tiempos libres, me gusta hacer ejercicio (correr) y leer novelas literarias de todos los generos. Soy un 
    aficionado de GNU/Linux, del desarrollo Web y de la electrónica.</p>

    <p>Disfruto mucho de la música electrónica, rock y clásica. Me gusta aprender cosas nuevas y me gusta viajar, cononcer
    lugares y sabores nuevos.</p>
    <hr>

    <p>En mi Curriculum Vitae, puedes concontrar información detallada de mi desarrollo profesional.</p>
    </main>
{% endblock %}
