<html>
  <head>
    <title>Sandbox Config change</title>
  <style>
    div {
        margin: auto;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 5px;
        width: 60%;
    }
    input[type=text], select {
        width: 100%;
        padding: 8px 1px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    li {
        float: right;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 10px;
        text-decoration: none;
    }
    li a:hover {
        background-color: gray;
    }
    h1 {
        color: #ffffff;
        font-size: 20px;
    }
    body {
        background-color: #333;
    }
    ul.success {
        border-radius: 5px;
        background-color: #99c2ff;
        padding: 5px;
        text-align: center;
        color: #006bb3;
        font-size: 21px;
    }
    ul.error {
        border-radius: 5px;
        background-color: red;
        padding: 5px;
        text-align: center;
        color: black;
        font-size: 21px;
    }
  </style>
  </head>
  <body>
    <ul>
        <li><a href="http://eadpgos0069.bio-sjc.ea.com:5000/">Home</a></li>
        <h1>GS L2 - Sandbox Configuration Change Portal</h1>
    </ul>
    <form action="" method="post">
        {{ form.csrf }}

        <div class="input text">
            <label for="depot">Title:</label>
            <input list="titles" type="text" class="form-control" id="depot" name="depot" placeholder="title-of-the-game" autocomplete="off" autofocus>
               <datalist id="titles">
               <option value="battlefield-1-xone">
               <option value="battlefield-1-xone-alpha">
               <option value="battlefield-1-xone-beta">
               <option value="battlefield-1-xone-trial *">
               <option value="battlefield-4-xbl2">
               <option value="battlefield-4-xone">
               <option value="battlefield-4-xone-cte">
               <option value="battlefield-havana-xbl2">
               <option value="battlefield-havana-xone">
               <option value="battlefield-havana-xone-trial">
               <option value="battlefront-1-xone">
               <option value="battlefront-1-xone-trial">
               <option value="fifa-2014-xbl2">
               <option value="fifa-2014-xbl2-ddp">
               <option value="fifa-2014-xbl2-ddr">
               <option value="fifa-2014-xbl2-mscert1">
               <option value="fifa-2014-xbl2-mscert1-ddp">
               <option value="fifa-2014-xbl2-mscert1-ddr">
               <option value="fifa-2014-xone">
               <option value="fifa-2015-xbl2">
               <option value="fifa-2015-xbl2-ddp">
               <option value="fifa-2015-xbl2-ddr">
               <option value="fifa-2015-xone">
               <option value="fifa-2015-xone-trial">
               <option value="fifa-2016-xbl2">
               <option value="fifa-2016-xbl2-ddp">
               <option value="fifa-2016-xbl2-ddr">
               <option value="fifa-2016-xbl2-demo">
               <option value="fifa-2016-xone">
               <option value="fifa-2016-xone-demo">
               <option value="fifa-2016-xone-trial">
               <option value="fifa-2017-xbl2">
               <option value="fifa-2017-xbl2-beta">
               <option value="fifa-2017-xbl2-beta-ddp">
               <option value="fifa-2017-xbl2-beta-ddr">
               <option value="fifa-2017-xbl2-ddp">
               <option value="fifa-2017-xbl2-ddr">
               <option value="fifa-2017-xbl2-demo">
               <option value="fifa-2017-xone">
               <option value="fifa-2017-xone-beta">
               <option value="fifa-2017-xone-cgd">
               <option value="fifa-2017-xone-cgd-freetrial">
               <option value="fifa-2017-xone-cgd-trial">
               <option value="fifa-2017-xone-demo">
               <option value="fifa-2017-xone-freetrial">
               <option value="fifa-2017-xone-trial">
               <option value="fifa-wc14-xbl2">
               <option value="fifa-wc14-xbl2-ddr">
               <option value="madden-2017-xone">
               <option value="madden-2017-xone-api">
               <option value="madden-2017-xone-eaaccess">
               <option value="madden-2017-xone-mca">
               <option value="madden-2017-xone-trial">
               <option value="masseffect-4-xone">
               <option value="masseffect-4-xone-trial">
               <option value="mirrorsedgecatalyst-2016-xone">
               <option value="mirrorsedgecatalyst-2016-xone-beta">
               <option value="mirrorsedgecatalyst-2016-xone-trial">
               <option value="nba-2017-xone">
               <option value="nba-2017-xone-trial">
               <option value="nhl-2017-xone">
               <option value="nhl-2017-xone-trial">
               <option value="plantsvszombies-gw2-xone">
               <option value="plantsvszombies-gw2-xone-trial">
               <option value="sims3-2011-xbl2">
               <option value="ufc-2017-xone">
               <option value="ufc-2017-xone-trial">
               </datalist>
            <br>
            New Sandbox:
            <select name="newstr">
                <option value="" selected>Select Option</option>
                <option value="CERT">CERT</option>
                <option value="EARW.3">EARW.3</option>
            </select>
            <br>
            <label for="comments">P4 submit comments:</label>
            <input type="text" class="form-control" id="comments" name="comments" placeholder="Ticket numbe or what's changed?" autocomplete="off">
            <br>
        <div class="input submit">
            <input type="submit" value="Submit" />
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                        {% for category, message in messages %}
                    <ul class="{{ category }}">
                            {{ message }}
                    </ul>
                        {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </form>
  </body>
</html>
