body {
	/*background-image: url("imges/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	margin:0;
}

/*Main content*/
main {
	background-color: #272847;
	text-align: center;
	padding: 0;
	margin-top: 3rem;
}


/*Estilo de barra de navegacion*/
header {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}
header a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 1rem 1rem;
	text-decoration: none;
	font-size: 1rem;
}
header a:hover {
	background-color: #ddd;
	color: black;
}
header a:active {
	background-color: #4CAF50;
	color: white;
}
nav {
	float: right;
}
header .icon {
	display: none;
}

/*Media queries*/
@media only screen and ( max-width: 600px ) {
	header a:not(:first-child) {display: none;}
	nav a.icon {
	float: right;
	display: block;
	}
}

@media only screen and ( max-width: 600px ) {
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive{
	  width: 100%
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
