body {
	background-color: #CCC;
}
h1,h1 {
	font-family: Georgia;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
p {
	/*color:#FFFFFF;
	background-color:rgb(79,129,189);
	border-color:rgb(102,0,102);*/
	font-family: Arial, Helvetica, sans-serif;
	/*border:2px sold*/
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover {
	text-decoration: none;
	color: #95B3D7;
}
a:active{
	text-decoration: none;
	color: #000;
}
:focus{border:2px solid #385D8A;}
.in {
	list-style-type: circle;
	list-style-position: inside;
}
.out {
	list-style-type: square;
	list-style-position: outside;
}
.triangulo {
	list-style-image: url("css/imges/triangulo.jpg");
}
ul {
	  list-style-type: none;
	    text-align: center;
	      /* Suficiente anchura para que quepa "Presentación" */
	      width: 120px;
	        padding: 0;
	}

	li {
		  background-color: #00F;
		    color: #FFF;
		      /* El borde blanco separa los elementos */
		      border: 2px solid #FFF;
	      }

	      li a {
		        color: #FFF;
			  text-decoration: none;
			    /* Necesario para que el enlace ocupe todo el ancho del elemento  de la lista */
			    display: block;
			      width: 100%;
		      }

		      /* Efecto cuando se situa el ratón encima de un elemento de la lista o cuando recibe el foco del teclado */
		      li a:hover, li a:focus {
			       /* ¿Qué pasa si se utiliza la propiedad border */
			        outline: 2px solid #F00;
			}
#areaJ{
	position: relative;
	margin: auto;
	width: 480px;
	height: 320px;
	border: 1px solid;
	cursor: url('OVNI.png'), default;
}