body {
    margin: 0;
    text-align:center;
}
p{padding-left: 20px}
hr {
    border-top: 0.2em double #8c8b8b;
    clear: left;
}
main {
	width:75%;
	margin-top: 53px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	/*box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.801), 0 6px 20px 0 rgba(255, 255, 255, 0.801);*/
	display: block;
}
h1 {
	font-weight: bold;
}
h3 {
	text-align:center;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
table {
	border-collapse: separate;
	border-spacing: 20px 0;
}
td {padding-right: 200px;}
#personal {
    text-align: left;
    float: left;
    margin-left: 1em;
}
#academico {
    text-align: left;
    float: left;
    margin-left: 1em;
}
#MiTable1 td {padding-right: 185px;}
#MiTable3 td {padding-right: 199px;}


/*.MiList {width: 80%; margin: auto;}
.MiList li {width: 50%;line-height:16px; margin: auto;}
.MiList li.col1 {margin-left:0;}
.MiList li.col2 {margin-left:210px;}
.MiList li.col3 {margin-left:420px;}
.MiList li.sube {margin-top:-14px;}*/

#myfooter {
	background-color: black;
	text-align: center;
	height: 100px;
  }
  
  #myfooter i {
	padding-left: 20px;
  }
