@media only screen and (max-width: 1920px) {
  html { font-size: 60px; }
  h1 { font-size: 100px;}
  p { font-size: 33px; }
}

@media only screen and (max-width: 1600px) {
  html { font-size: 30px; }
  h1 { font-size: 50px;}
  p { font-size: 22px; }
}

@media only screen and (max-width: 800px) {
  html { font-size: 12px; }
  h1 { font-size: 25px; }
}

body {
  position: relative;
}

h1 {
  text-align: center;
}

h2 {
  font-family: "Ariel";
  font-size: 80px;
  text-align: center;
}

h3 {
  text-align: center;
}

#sectionHome {
  padding-top: 50px;
  display: block;
  height: 200%;
  background: url('https://dl.dropboxusercontent.com/s/vgzkuqxzh5y9ilz/constellations-cosmos-dark-982378.jpg') no-repeat center fixed;
  background-size: cover;
  text-align: center;
  /*padding-bottom: 100px;*/
  color: #FFFFFF;
}

#sectionHome button {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

div.Mifoto{
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

div.Mifoto img {
  max-height: 80%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

div.Aboutme {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  text-align: justify;
  text-justify: inter-word;
}

#sectionAbout {
  padding-top: 50px;
  /*padding-bottom: 450px;*/
  display: block;
  height: 100%;
  background: url('https://dl.dropboxusercontent.com/s/gmmrqz725rfego0/architecture.jpg') no-repeat center fixed;
  /*background: url('https://dl.dropboxusercontent.com/s/m2su4z6l7ys7p4n/Lago_de_guadalupe.jpg') no-repeat center fixed;*/
  background-size: cover;
  text-align: center;
  color: #000000;
  /*color: #FFFFFF;*/
  font-family: 'Podkova', serif;
  /*font-size: 22px;*/
  margin: auto;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.listc {
  //border:1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #429CCE;
}

.listc li {
  display: inline;
}

.listc a {
  display: inline-block;
  padding: 10px;
}

.listc a:hover {
  text-decoration: underline;
  color: #000000;
}

.silver-border {
  border-color: #F0F8FF;
  border-width: 3px;
  border-style: solid;
  border-radius: 90%;
}


#sectionContact {
  padding-top: 50px;
  padding-bottom: 520px;
  display: block;
  height: 200%;
  background: url('https://dl.dropboxusercontent.com/s/c3eqtzmqwe6m2lc/Mirador.jpg?dl=0') no-repeat center fixed;
  background-size: cover;
  color: #000000;
}

#myfooter {
  background-color: black;
  text-align: center;
  height: 100px;
}

#myfooter i {
  padding-left: 20px;
}
