@media (min-width: 1200px) {
    h1, #pie{
        text-align: center;
    }
    #menu, #contenido, #info{
        float: left;
        padding: 0;
        margin: 0;
    }
    #menu {
        width: 20%
    }
    #contenido, #info{
        width: 40%;
    }
    #pie{
        clear: both;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    h1, #pie{
        text-align: center;
    }
    #menu{
        float: left;
        padding: 0;
        margin: 0;
        width: 20%;
    }
    #contenido {
        margin-left: 25%
    }
    #info{
        margin-left: 25%;
    }
    #pie{
        clear: both;
    }
}