body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

div#background {
    margin: 0;
    padding: 0;
    width: 100%; 
	height: 100%;
	background: url(test.jpg) no-repeat right;
	/*border: 2px solid #000;*/
}

div#foreground {
    overflow: hidden;
	width: 50%;
	height: 200px;
	border: 2px solid #000;
}