/*Formato del body*/
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    background-image: url("../Imagenes/blacky.jpg"); 
    color: black;
    padding: 10px 20px 20px 20px;
}

/*Formato de la div llamada main*/
#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 100px 10px;
}

/*Formato de todos los H1*/
h1 {
    font-family: Georgia, serif;
    border-bottom: 5px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

/*Fotmato de la barra de menu*/
ul#menu {
    padding: 0;
    margin-bottom: 13px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

/*Formato del cuadro del menu*/
ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

/*Formato cuando se pasa el mouse por el menu*/
ul#menu li a:hover {
    color: white;
    background-color: black;
}
