body {
  position: relative;
}

h2 {
  font-family: "Ariel";
  font-size: 80px;
  text-align: center;
}

h3 {
  text-align: center;
}

#sectionHome {
  padding-top: 50px;
  display: block;
  height: 200%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/385441/trainTracks.jpg') no-repeat center fixed;
  background-size: cover;
  text-align: center;
  padding-bottom: 100px;
  color: #fff;
}

#sectionHome button {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

#sectionAbout {
  padding-top: 50px;
  padding-bottom: 350px;
  display: block;
  height: 100%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/385441/rainDrops1.jpg') no-repeat center fixed;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

#sectionAbout img {
  margin-top: 50px;
  max-height: 80%;
  max-width: 80%;
}


/*  PORTFOLIO SECTION  */

#sectionPortfolio {
  padding-top: 50px;
  padding-bottom: 30px;
  height: 100%;
  color: #fff;
  background-color: #3F6781;
  text-align: center;
}

#sectionPortfolio img {
  display: block;
  width: 80%;
  max-height: 90%;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

#sectionGreg {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #889DA0;
}

#sectionGreg button {
  font-size: 15px;
  margin-top: 5px;
  margin-rigth: auto;
  width: 40%;
  text-align: left;
}

#sectionCaptain {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #009688;
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.listd {
  //border:1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.listd li {
  //display: inline;
  margin: 5px;
  padding: 0;
}

.listd a {
  display: inline-block;
  padding: 10px;
}

.listc {
  //border:1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.listc li {
  display: inline;
}

.listc a {
  display: inline-block;
  padding: 10px;
}

.silver-border {
  border-color: F0F8FF;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  /*width: 70%;
     height: 20%;*/
  margin: auto;
}

#myfooter {
  background-color: black;
  text-align: center;
  height: 80px;
}

#myfooter i {
  padding-left: 20px;
}
