body{
    padding: 0;
    margin: 0;
    width: 75em;
}

#cabecera, #pie{
    text-align: center;
}

#menu, #contenido, #info{
    padding: 0;
    margin: 0;
    border-style: solid;
    border-color: coral;
}

#menu{
    position: absolute;
    width: 10em;
}

#contenido{
    position: relative;
    width: 40em;
    left: 10em;
}

#info{
    position: absolute;
    left: 50em;
    width: 25em;
}

#info h2, #contenido h2{
    margin-top: 0;
}