*{
	box-sizing: border-box;
}


body{
	margin: 0;
	background-color: #ecf0f1;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	padding-top: 330px;
    transition: padding-top .5s ease;
}

header{
	width: 100%;
	height: 300px;
	background-color: #2b2d2e;
	text-align: center;
	position: relative;
	position: fixed;
	top: 0;
	overflow: hidden;
    transition: all .5s ease;
}

header h1{
		font-size: 42px;
		color: #fff;
		line-height: 230px;
		text-transform: uppercase;
		font-weight: 100;
        transition: all .3s ease;
}

header nav{
		position: absolute;
		bottom: 0;
		height: 60px;
		line-height: 60px;
		width: 100%;
        background-color: rgba(0,0,0,.1);
}

nav a{
    color: #fff;
	display: inline-block;
	padding: 10px 15px;
	line-height: 1;
	text-decoration: none;
}
a:hover{
    border-radius: 2px;
    box-shadow: 0 0 0 1px #fff;
}
h2{
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 2;
	color: #2c3e50;
}
p{
	margin-bottom: 2rem;
	line-height: 2;
	color: #7f8c8d;
}
.wrapper{
	width: 800px;
	margin: 0 auto;
}
section{
	padding: 20px;
	margin-bottom: 40px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
}

/* Sticky Header Style */	
/* ---------------------------------------- */ 
body.sticky-header{
	padding-top: 100px;
}

.sticky-header header{
	height: 60px;
	background-color: rgba(63, 63, 63, 0.8);
}

.sticky-header header > h1{
	scale: 0;
}