body {
  font-family: 'Arial';
  line-height: 1.4;
}
header{
  background: #696;
  padding: 1em;
}
h1{
  display: inline;
}
a{
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,0.6);
  text-decoration: none;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
  transition: background-color 1s linear;
}
form{
  display: inline;
  margin-left: auto;
  padding-lef: 2em;
  width: 100%;
}
label{
  font-size: 24px;
}
input{
  padding: 0.7em 0.5em;
}
button{
  padding: 0.7em 1em;
  cursor: pointer;
}
input, button{
  font-size: 16px;
  color: #000;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.3);
  transition: background-color 1s linear;
}

a:hover, input:hover, button:hover,
a:focus, input:focus, button:focus{
  box-shadow: 0 0 0 3px rgba(0,0,0,0.25);
  outline: 0;
  background-color: #fff;
}

input, button{
  border: 0;
}

/*p {
  background-color:rgba(79,129,189,0.5);
}
div {
  position: absolute;
  left: 10px;
  top: 15px;
  background-color:hsla(259, 100%, 50%, 0.75);
}*/

