/* Class 6 */
/* div {
    background-color: lightcoral;
} */


/* Class 7 */
/* div {
    background-color: lightgreen;
}
.main {
    background-color: lightblue;
}
#welcomeDiv {
    background-color: lightcyan;
}
div {
    background-color: lightgray;
}
* {
    background-color: yellow;
}
div, footer {
    background-color: thistle;
} */


/* Class 8 */
/* .personalInfo {
    display:block;
    display: inline;
    display: none;
}
#personalInfoDiv {
    display: inline;
} */


/* Class 9 */
/* body {
    height: 2000px;
}
#container {
    position: relative;
}
#welcomeDiv {
    background-color: lightblue;
    position: sticky;
    top: 50px;
    left: 50px;
}
#welcomeDiv1 {
    background-color: lightblue;
    position: sticky;
    top: 50px;
    left: 50px;
}
#nameDiv {
    background-color: lightgreen;
} */


/* Class 10 */
/* html, body {
    height: 1000px;
    width: 2000px;
    height: 100%;
}
#container {
    background-color: lightcoral;
    height: 500px;
    height: 50%;
}
#welcomeDiv {
    background-color: lightblue;
    height: 50%;
} */


/* Class 11 */
/* html, body {
    padding: 0px;
    margin: 0px;
}

#container {
    background-color: lightcoral;
    height: 500px;
}
#welcomeDiv {
    background-color: lightblue;
    height: 50%;
    margin: 50px;
    padding: 50px;
    padding: 10px 50px 10px 50px;
    margin: 10px 50px 10px 50px;
} */


/* Class 13 */
/* Text styling */
/* #container {
    font-size: 30px;
    font-weight: bold;
    color: steelblue;
    text-decoration: underline wavy black;
    text-align: center;
} */
